@model CritProject.Models.ReviewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReviewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProducerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProducerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
