@model IEnumerable<CritProject.Models.ReviewModels>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews</h2>

@using (Html.BeginForm())
{
    <p>
        Game:
    </p>
    <div class="row">
        <div class="col-md-3 w-100">
            @Html.TextBox("searchString", "", "", htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-1">
            <p>
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </div>
}


<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("critic"))
        {
            <button class="btn btn-info">
                @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "card-link", @style = "color: white" })
            </button>
        }
    }
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Critic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Critic.Alias)
        </td>
        <td>
            <img src="@Url.Content(item.Game.Picture)" width="50" height="70" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

    </table>*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="padding-bottom: 10px; padding-top: 10px">
            <div class="card text-center" style="width: 18rem; padding: 5px">
                <img class="card-img-top" src="@Url.Content(item.Game.Picture)" alt="Card image cap" width="280px" height="360px">
                <div class="card-body">
                    <h3 class="card-title">@item.ReviewTitle</h3>
                    <p class="card-text">Critic: @item.Critic.Alias</p>
                    <p class="card-text">Rating: @item.Rating/10</p>
                    <p class="card-text">
                        @{
                            //item.PublishDate;
                            var str = item.PublishDate.ToString().Substring(0, 10);
                            @str
                        }
                    </p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("critic") && item.Critic.SecondName == User.Identity.GetUserId())
                        {
                            <button class="btn btn-info">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "card-link", @style = "color: white" })
                            </button>
                        }
                    }
                    <button class="btn btn-success">
                        @Html.ActionLink("Show", "Details", new { id = item.ID }, htmlAttributes: new { @class = "card-link", @style = "color: white" })
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <button class="btn btn-danger">
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "card-link", @style = "color: white" })
                            </button>
                        }
                    }
                </div>
            </div>
        </div>

    }
</div>

